@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.ticket-container {
  display: flex;
  /* gap: 2rem; */
  flex-direction: column;
}

/* .info-table table,
.info-table tbody,
.info-table tr,
.info-table td {
  border: 2px solid #757575;
  border-collapse: collapse;
}

.info-table table td h5 {
  color: #757575;
  font: 14px;
  text-align: center;
  padding: 1rem 2rem;
}

.info-table table td:nth-of-type(2) {
  font-size: 16px;
  text-align: left;
  padding: 1rem 10rem 1rem 2rem;
  font-weight: 800;
} */

/* ticket */
.ticket-container {
  width: 350px;
  max-width: 40%;
  position: relative;
}

.confirm-container {
  width: 100%;
  height: 400px;
  background-color: #ffffd2;
  padding: 2rem;
  border-radius: 0.5em;
}

.confirm-container h2 {
  color: #c02c39;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

/* first table */
.first-table {
  width: 100%;
  color: #000;
  position: relative;
}

.first-table td:nth-of-type(2) {
  text-align: right;
}

.number-of-ticket {
  font-size: 17px;
}

.st1 {
  font-size: 14px;
  color: #757575;
  padding-bottom: 0.7rem;
}

.st2 {
  font-size: 14px;
  padding-bottom: 1rem;
}

.bt1 {
  border-top: 1px dotted #ccc;
  font-size: 17px;
  padding: 0.5rem;
}

.bt1.red {
  color: #c02c39;
}

/* donation box */

.donation-box {
  width: 100%;
  margin-top: 2.5rem;
  background-color: #fff;
  padding: 1rem;
}

.donation-box h5 {
  font-size: 16px;
  margin-bottom: 1rem;
}

/* .donation-box td {
  padding: 0.5rem 0;
} */

.donation-box a:link,
.donation-box a:visited {
  text-decoration: none;
  color: #30e3ca;
  margin-left: 1rem;
  text-align: right;
}

.donation-price {
  padding-left: 0.5rem;
  color: #c02c39;
}

/* amount payable */
.amount-payable {
  background-color: #fffcdc;
  height: 50px;
  width: 350px;
  font-size: 17px;
  border-radius: 0.5em;
}
.amount-payable table {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.total-amount {
  font-weight: 500;
}

/* button */
.ticket-container button {
  width: inherit;
  font-size: 17px;
  letter-spacing: 0.02em;
  padding: 0.6rem 1rem;
  background-color: #f84464;
  color: #fff;
  border: 0;
  border-radius: 0.5em;
  font-weight: 500;
}

.circle-left,
.circle-right {
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: 31%;
}
.circle-left {
  left: -10px;
}
.circle-right {
  right: -10px;
}
