*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #222;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);
}

//
.sections {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* ------------------------ */
/* General  */
/* ------------------------ */

.section-movies {
  background: var(--clr-dark);
  color: var(--clr-light);
  width: 100%;
  transform: translateY(0) scale(1);

  display: block;
  animation: scaleAnim 400ms ease-in;
  @keyframes scaleAnim {
    0% {
      transform: translateY(100%) scale(0.2, 0.2);
    }

    100% {
      transform: translateY(0) scale(1);
    }
  }
}

// ---🚤🚤animations---
.section-movies.hidden,
.section-movie-seats.hidden,
.login-form.hidden {
  transform: translateY(100%) scale(0.2, 0.9);
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 200px));
  gap: 3.4rem;
  align-items: center;
  justify-content: center;
}

.movies-container {
  font-family: 'Poppins', sans-serif;
  max-width: 120rem;
  min-height: 100vh;
  padding: 9.8rem;
}

.movie-wrap {
  position: relative;
  display: block;
  overflow: visible;
  z-index: 1;
  width: 200px;
  height: 420px;
}

.movie-wrap:hover {
  z-index: 2;
}

.movie {
  position: absolute;
  width: 12.5rem;
  cursor: pointer;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a:link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: 0;
  background: linear-gradient(to left, #f2994a, #f2c94c);
  border-radius: 100vw;
  color: var(--clr-light);
  color: #222;
  font-weight: bold;
  padding: 0.4em 1.8em;
}

/* ------------------------ */
/* --movie ratings--  */
/* ------------------------ */
.movie-ratings {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 100;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.4rem 0.4rem 1rem;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: var(--transition);
}

.movie-ratings.green {
  background-color: rgba(234, 243, 236, 0.8);
  color: #1a5325;
}
.movie-ratings.yellow {
  background-color: rgba(254, 245, 230, 0.8);
  color: #935f00;
}
.movie-ratings.red {
  background-color: rgba(254, 236, 236, 0.8);
  color: #781f1f;
}

/* ------------------------ */
/* Movies Front container  */
/* ------------------------ */
.movie-front {
  transition: transform 250ms;
  .thumbnail {
    border-radius: var(--br);
    position: relative;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, black),
      color-stop(0.35, black),
      color-stop(0.5, black),
      color-stop(0.65, black),
      color-stop(0.85, rgba(0, 0, 0, 0.6)),
      color-stop(1, transparent)
    );
  }

  .movie-title {
    margin: 0.75rem 0;
    font-size: 1rem;
    color: #fff;
  }

  .movie-stats {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #c5c5c5;
  }

  // circle svg
  .percentage {
    position: absolute;
    right: -25px;
    top: -40px;

    .progress-circle {
      border-radius: var(--br);
      stroke-dasharray: 125;
      // stroke-dashoffset: 20;
      stroke-linecap: round;
      stroke-width: 3;
    }

    // custom classes
    .progress-circle.green {
      stroke: #2cc46e;
    }
    .progress-circle.yellow {
      stroke: #c0c430;
    }
    .progress-circle.red {
      stroke: #c92a2a;
    }
    .percent-text {
      fill: #eee;
      font-weight: 600;
      font-size: 0.85rem;
    }
  }
}

/* ------------------------ */
/* Movies BACK container  */
/* ------------------------ */
.movie-back {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  transform: translateY(35%);

  .movie-back-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .movie-popularity {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .popularity-svg {
      height: 24px;
      width: 24px;
      color: #69db7c;
    }

    span {
      display: flex;
      color: #eee;
      gap: 0.2rem;
      align-items: center;
      .heart-svg {
        color: #fa5252;
      }
    }
  }
}

.background {
  background-color: rgb(40, 46, 54);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  transform: scale(0.2, 0.9);
  border-radius: var(--br);
}

/* ------------------------ */
/* Movies Hover animation  */
/* ------------------------ */

.movie:hover {
  .movie-ratings {
    transform: translate(125%, 3%);
  }

  .movie-front {
    transform: translateY(-30%) scale(0.8);

    .movie-title {
      animation: movieReveal 250ms forwards;
      margin: 0.5rem 0 1.6rem 0;
    }
    .movie-stats {
      opacity: 0;
    }
  }

  .movie-back {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transition: transform 250ms ease, opacity 150ms linear;

    transform: translateY(0);

    .movie-info {
      display: flex;
      width: 100%;

      // ---custom scroll bar--//
      ::-webkit-scrollbar {
        width: 0.4rem;
      }
      ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.3);
        border-radius: var(--br);
      }
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #ff00cc, #333399);
        border-radius: var(--br);
      }

      .overview {
        font-size: 0.8rem;
        color: #eee;
        width: 100%;
        overflow-y: auto;
        text-align: justify;
        height: 6.4rem;
        padding-right: 0.4rem;
      }
    }
  }

  .background {
    transition: var(--transition), opacity 100ms linear;
    width: 200px;
    height: 412px;
    opacity: 1;
    transform: scale(1.35, 1.1) translateY(5%);
  }
}

@keyframes movieReveal {
  0% {
    text-align: left;
    opacity: 1;
  }

  20% {
    text-align: left;
    opacity: 0;
  }

  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}

/* ------------------------ */
/* search bar  */
/* ------------------------ */

.movie__search-form {
  display: flex;
  justify-content: end;
  margin: 2rem 7rem 0 0;
  .search {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #5e2699;
    padding: 0.5rem 1rem;
    color: #fff;
  }

  .search::placeholder {
    color: #555;
  }

  .search:focus {
    outline: none;
    background-color: var();
  }
}

/* ------------------------ */
/* overlay animation  */
/* ------------------------ */
#overlay-effect {
  transform: translateY(100%);
  animation: 1s ease-in-out both;
  background-color: #181818;
  bottom: 0;
  display: block;
  position: fixed;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  z-index: 99999;
}

#overlay-effect.animate-up {
  -webkit-animation-name: overlayEffectUp;
  animation-name: overlayEffectUp;
}
#overlay-effect.animate-down {
  -webkit-animation-name: overlayEffectDown;
  animation-name: overlayEffectDown;
}

@keyframes overlayEffectUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  35%,
  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes overlayEffectDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  35%,
  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
