@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");
:root {
  --selected-seats: linear-gradient(0deg, #ffce26, #ffce26, #ffce26, #ff0);
  --available-seats: linear-gradient(
    0deg,
    #535353,
    #535353,
    #535353,
    gray,
    gray
  );
  --unvailable-seats: linear-gradient(
    0deg,
    #c5c5c5,
    #c5c5c5,
    #c5c5c5,
    #c5c5c5,
    #c5c5c5,
    #eee,
    #fff
  );
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.section-movie-seats {
  position: relative;
  font-family: Lato, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #191a19;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: scaleAnim 400ms ease-in-out;
          animation: scaleAnim 400ms ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(100%) scale(0.2, 0.2);
            transform: translateY(100%) scale(0.2, 0.2);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(100%) scale(0.2, 0.2);
            transform: translateY(100%) scale(0.2, 0.2);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.seat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

/* ------------------------ */
/* movie banner */
/* ------------------------ */
.movie-banner {
  margin-top: 1rem;
  max-width: 100%;
  height: 250px;
  position: relative;
}

.movie-banner .movie-banner-img {
  background-image: url(https://image.tmdb.org/t/p/w1280/iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg);
  width: 700px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 3px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00000095), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, #00000096), color-stop(0.85, rgba(0, 0, 0, 0)), color-stop(1, transparent));
}

.movie-banner .section-movie-seats-title {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 4rem;
  left: 3rem;
  font-size: 1.4rem;
}

.movie-banner .section-movie-seats-title .section-movie-seats-title-date {
  font-size: 1rem;
  margin-left: 0.2rem;
}

/* ------------------------ */
/* seats styling */
/* ------------------------ */
.showcase {
  font-size: 1.2rem;
  background-color: rgba(68, 69, 68, 0.15);
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #fff;
  gap: 3rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  margin-top: -10px;
  margin-bottom: 0.8rem;
}

.showcase li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase li small {
  margin-left: -0.5rem;
}

.showcase .seat {
  -webkit-transform: scale(-0.8);
          transform: scale(-0.8);
}

/* -------seat availability------ */
.seat.unavailable {
  background: var(--unvailable-seats);
}

.seat.selected {
  background: var(--selected-seats);
}

/* seats design */
.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prime-seats,
.classic-seats {
  text-align: center;
  margin-bottom: 0.6rem;
  position: relative;
  font-size: 1.1rem;
}

.prime__seats-prices,
.classic__seats-prices {
  font-weight: bold;
}

.classic-seats {
  margin-bottom: 0;
}

.area {
  display: block;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  color: #ccc;
}

.area:nth-of-type(2) {
  margin-top: 1.5rem;
}

.seat {
  width: 28.19px;
  height: 36.04px;
  border-radius: 7px;
  margin-right: 0.7rem;
  -webkit-tap-highlight-color: transparent;
  background: var(--available-seats);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  /* transform-box: view-box;
  transform-origin: 10.8875px 14.825px;
  transform-style: flat; */
}

.seat-row-no {
  position: absolute;
  display: inline-block;
  left: -40px;
  color: #ffce26;
}

.rows .seat {
  margin-top: -0.8rem;
  -webkit-transform: skew(8deg);
          transform: skew(8deg);
}

.seat:nth-of-type(4) {
  margin-right: 2.5rem;
}

.classic-seats .seat:nth-of-type(4) {
  margin-right: 0.8rem;
}

.classic-seats .seat:nth-of-type(2) {
  margin-right: 2rem;
}

.classic-seats .seat:nth-last-of-type(2) {
  margin-left: 1.3rem;
}

.rows .seat:not(.unavailable):hover {
  -webkit-transform: translateY(-10px) skew(9deg);
          transform: translateY(-10px) skew(9deg);
  background: var(--selected-seats);
  cursor: pointer;
}

.rows .seat:not(.unavailable):active {
  -webkit-transform: translateY(-10px) scale(1.1) skew(9deg);
          transform: translateY(-10px) scale(1.1) skew(9deg);
  background: var(--selected-seats);
  cursor: pointer;
}

/* -----screen---- */
.screen img {
  height: 31px;
  min-width: 600px;
  fill: wheat;
  border: none;
  margin-top: 2rem;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.9));
          filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.9));
}

/* ------------------------ */
/* book ticket */
/* ------------------------ */
.pay-out {
  font-family: Lato, sans-serif;
  overflow: hidden;
}

.pay-out-container {
  width: 90%;
  bottom: 0;
  position: absolute;
  background-color: white;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

.pay-out-container.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.book-button {
  font-size: 1.5rem;
  padding: 0.5em 3.5em;
  margin: 0.5rem;
  border: none;
  border-radius: 0.7rem;
  background-color: #f84464;
  color: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.book-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pay-out .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4d5259;
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
  background-color: #191a19;
}

.overlay.hidden {
  display: none;
}

/* ------------------------ */
/* BOOKING-summary */
/* ------------------------ */
.ticket-container {
  width: 350px;
  position: fixed;
  top: 50%;
  right: 40px;
  font-family: Lato, sans-serif;
  border-radius: 0.5em;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.ticket-container.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.confirm-container {
  width: 100%;
  height: 400px;
  color: #fff;
  padding: 2rem;
}

.confirm-container h2 {
  color: #ff585f;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

/* first table */
.first-table {
  width: 100%;
  position: relative;
}

.first-table td:nth-of-type(2) {
  text-align: right;
}

.number-of-ticket {
  font-size: 17px;
}

.st1 {
  font-size: 14px;
  color: #757575;
  padding-bottom: 0.7rem;
}

.st2 {
  font-size: 14px;
  padding-bottom: 4rem;
}

.bt1 {
  border-top: 3px dotted #ccc;
  font-size: 17px;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

.bt1.red {
  color: #2fdd92;
}

/* donation box */
.donation-box {
  width: 100%;
  background-color: #ecedef;
  padding: 1rem;
  color: #191a19;
  border-radius: 0.4rem;
}

.donation-box h5 {
  font-size: 16px;
  margin-bottom: 1rem;
}

.donation-box a:link,
.donation-box a:visited {
  text-decoration: none;
  color: #00c9a7;
  margin-left: 0.5rem;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
}

.donation-price {
  padding-left: 1rem;
  color: #ff585f;
}

/* amount payable */
.amount-payable {
  /* background-color: #434343; */
  color: #fff;
  height: 50px;
  width: 100%;
  font-size: 17px;
}

.amount-payable table {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-amount {
  font-weight: 500;
  color: #2fdd92;
}

/* button */
.ticket-container button {
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.02em;
  padding: 0.6rem 1rem;
  background: #f84464;
  color: #fff;
  border: 0;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 500;
}

.circle-left,
.circle-right {
  display: inline-block;
  position: absolute;
  background-color: #191a19;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: 42%;
}

.circle-left {
  left: -10px;
}

.circle-right {
  right: -10px;
}
/*# sourceMappingURL=seatbooking.css.map */